fastapi
uvicorn
python-multipart
pillow
numpy<2.0
pydantic
torch
transformers==4.40.2
accelerate
timm
sentencepiece
protobuf
opencv-python
jax[cuda12]>=0.4.26
flax>=0.8.0
dm-haiku
optax
chex
distrax
ml_dtypes>=0.4.0
